{% extends "layout.html" %}

{#
  this template needs variables:
    book: Dictionary, book entry
      .isbn: String, the isbn of the book
      .year: Integer, the book's publication year
      .coverImage: URL for cover image
      .title: String, the title of the book
      .author: String, the author of the book
      .description: String, the book's description
      .average_score: Number, the book's average score
      .reviews: List, list of tuples, one for each review, structured as:
        (user_id, rating, description)
#}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block body %}
  {% if error %}
    <div class="alert alert-danger">
      {{ error }}
    </div>
  {% endif %}

  {% if book %}
    <div>
      <div class="row">
        <div class="col-2">
          <image src="{{ book.coverImage }}" class="rounded" />
        </div>
        <div class="col">
          <h3><u>{{ book.title }}</u></h3>
          <h4>{{ book.author }}</h4>
          <p>Rating: {{ book.average_score }}</p>
          <p>Year: {{ book.year }}</p>
          <p>ISBN: {{ book.isbn }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>{{ book.description }}</p>
        </div>
      </div>
    </div>

    <div>
      <h3>Reviews</h3>
      <hr>
      {% for review in book.reviews %}
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ review[0] }} says:</h5>
                <h6 class="card-subtitle text-muted">Rating: {{ review[1] }}/5</h6>
                <p>{{ review[2] }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
