{# TODO: implement loading GoodReads data client-side with Javascript instead of server-side which makes the site really slow #}

{% extends "layout.html" %}

{#
  this template needs variables:
  bookList: Dictionary
    .name: String, the name of the search query or Top ##
    .books: Dictionary of book entries
      .isbn: String, the isbn of the book
      .coverImage: URL for cover image
      .title: String, the title of the book
      .author: String, the author of the book
      .description: String, the book's description
#}

{% block title %}
  {{ bookList.name }}
{% endblock %}

{% block body %}
  {% for section in bookList %}
    <div class="row">
      <h3>{{ section.name }}</h3>
      <hr>
    </div>
    <div class="row">
      {% for book in section.books %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-img-top">
              <a href="{{ url_for('bookPage', isbn=book.isbn) }}">
                <image src="{{ book.coverImage }}" style="width: 18rem;"/>
              </a>
            </div>
            <div class="card-body">
              <div class="card-title">
                <h5>{{ book.title }}</h5>
              </div>
              <div class="card-subtitle">
                <a href="{{ url_for('search', query=book.author) }}">
                  <h6>{{ book.author }}</h6>
                </a>
              </div>
              <div class="card-text">
                <p>{{ book.description }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
