$menu-bg-color: #F4F5ED;
$menu-link-color: #DC4E00;

$text-color: #333;
$title-color-mobile: #EEE;
$title-color: $text-color;

$screen-width-large: 992px;

$content-padding: 2em;

$footer-bg-color: #C7C9BE;

body {
  color: $text-color;
}

.container-fluid {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.menu {
  background-color: $menu-bg-color;
  box-shadow: 0 0 3px black;

  .nav a {
    color: $menu-link-color;
  }
}

.vert-separator {
  background-color: $text-color;
  width: 2px;
  height: 10px;
}

#hero-image {
  padding: 0px;
  height: 33vh;
}

.parallax {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;

  transform: translateZ(-0.5px) scale(2);
  z-index: -1;
}

.title {
  color: $title-color-mobile;
  position: relative;
  width: 100%;
  left: 0%;
  top: -10em;
  margin-bottom: -10em;
  text-align: center;
  text-shadow: 0 0 20px black;

  @media screen and (min-width: $screen-width-large) {
    position: relative;
    background-color: white;
    color: $title-color;
    text-align: left;
    left: 0px;
    top: 0px;
    margin-bottom: 0px;
    padding: 1.5em 2em;
    text-shadow: 0 0 0 black;
  }
}

.content {
  background-color: white;
  padding: 2em $content-padding 0 $content-padding;
}

#title-hr {
  display: none;

  @media screen and (min-width: $screen-width-large) {
    display: block;
  }
}

.footer {
  background-color: $footer-bg-color;
}

.bg-main {
  background-image: url('../img/pexels-photo-261403.jpeg');
}
